@import "bootstrap-sprockets";
@import "bootstrap";


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* Bootstrap Navbar */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.btn-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-well {
  margin-left: 20px;
}

/*Tooltips*/

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: red;
  border-width: 0 5px 5px;
}

.tooltip-inner {
  font-weight: bold;
  color: white;
  background: red;
  border: solid 1px red;
}

.radiostyle label {
  font-weight: normal;
}

.btn-margins {
  margin-left:10px;
}
